---
import ListItem from "./items/StrapiBlockListItem.astro";
import List from "./items/StrapiBlockList.astro";

import type {
    StrapiBlockListItem,
    StrapiBlockListType,
    StrapiBlockTheme,
} from "../../types";
import { renderPropertyClasses, StrapiBlockThemeDefault } from "../../lib";

type Props<FontColors extends string> = {
    class?: string;
    format: StrapiBlockListType;
    color?: FontColors;
    data: Array<StrapiBlockListItem>;
    theme: StrapiBlockTheme;
};

const { data, format = "unordered", class: classes = '', theme = StrapiBlockThemeDefault } = Astro.props;

const renderData = data.filter(
    (item: StrapiBlockListItem) => item.children && item.children.length,
);
---
<div class={classes}>
    {
        format === "unordered" && (
            <List tag="ul" class={renderPropertyClasses(theme, ['list', 'unordered'])}>
                {renderData.map((item: StrapiBlockListItem) => (
                    <ListItem 
                        class={renderPropertyClasses(theme, ['list', 'item'])}
                        data={item.children}
                        theme={theme} />
                ))}
            </List>
        )
    }

    {
        format === "ordered" && (
            <List tag="ol" class={renderPropertyClasses(theme, ['list', 'ordered'])}>
                {renderData.map((item: StrapiBlockListItem) => (
                    <ListItem 
                    class={renderPropertyClasses(theme, ['list', 'item'])} 
                    data={item.children} 
                    theme={theme} />
                ))}
            </List>
        )
    }
</div>
