---
import StrapiBlockHeading from './blocks/StrapiBlockHeading.astro';
import StrapiBlockList from './blocks/StrapiBlockList.astro';
import StrapiBlockParagraph from './blocks/StrapiBlockParagraph.astro';
import StrapiBlockCode from './blocks/StrapiBlockCode.astro';
import StrapiBlockImage from './blocks/StrapiBlockImage.astro';

import { StrapiBlockThemeDefault, buildThemeObject, renderPropertyClasses } from '../lib';
import type { StrapiBlockField, StrapiBlock, StrapiBlockTheme, StrapiBlockUserTheme,StrapiBlockUserComponents } from '../types';

type Props = {
    class?: string;
    theme?: StrapiBlockUserTheme;
    blocks?: StrapiBlockUserComponents;
    data: StrapiBlockField;
}

const { data, class: classes, theme, blocks } = Astro.props;

const themeObject: StrapiBlockTheme = theme ? buildThemeObject(theme, StrapiBlockThemeDefault) : StrapiBlockThemeDefault;

---

<div class={classes}>
    { data.map((block: StrapiBlock) => {
        switch(block.type) {
            case "heading":
                return (<StrapiBlockHeading 
                    class={renderPropertyClasses(themeObject, ['heading', 'block'])} 
                    data={block.children} 
                    level={block.level}
                    block={blocks?.heading}
                    theme={themeObject}
                />);
            case "paragraph":
                return (<StrapiBlockParagraph 
                    class={renderPropertyClasses(themeObject, ['paragraph', 'block'])} 
                    data={block.children} 
                    block={blocks?.paragraph}
                    theme={themeObject}
                />);
            case "quote":
                return (<StrapiBlockParagraph 
                    class={renderPropertyClasses(themeObject, ['quote', 'block'])} 
                    data={block.children} 
                    block={blocks?.quote}
                    theme={themeObject}
                />);
            case "list":
                return (<StrapiBlockList 
                    class={renderPropertyClasses(themeObject, ['list', 'block'])} 
                    data={block.children} 
                    format={block.format} 
                    block={blocks?.list}
                    theme={themeObject}
                />);
            case "code":
                return (<StrapiBlockCode 
                    class={renderPropertyClasses(themeObject, ['code', 'block'])} 
                    data={block.children} 
                    language={block.language} 
                    block={blocks?.code}
                    theme={themeObject}
                />);
            case "image":
                return (<StrapiBlockImage 
                    class={renderPropertyClasses(themeObject, ['image', 'block'])} 
                    data={block.image} 
                    format={block.format} 
                    children={block.children} 
                    block={blocks?.image}
                    theme={themeObject}
                />);
            default:
                return '';
        }
    })
    }
</div>