---
import StrapiBlockHeading from './blocks/StrapiBlockHeading.astro';
import StrapiBlockList from './blocks/StrapiBlockList.astro';
import StrapiBlockParagraph from './blocks/StrapiBlockParagraph.astro';
import StrapiBlockCode from './blocks/StrapiBlockCode.astro';
import StrapiBlockImage from './blocks/StrapiBlockImage.astro';

import { StrapiBlockThemeDefault, buildThemeObject } from '../lib/theme';
import type { StrapiBlockField, StrapiBlock, StrapiBlockTheme, StrapiBlockUserTheme } from '../types';

type Props = {
    class?: string;
    theme?: StrapiBlockUserTheme;
    data: StrapiBlockField;
}

const { data, class: classes, theme } = Astro.props;

const themeObject: StrapiBlockTheme = theme ? buildThemeObject(theme, StrapiBlockThemeDefault) : StrapiBlockThemeDefault;


---

<div class={classes}>
    { data.map((block: StrapiBlock) => {
        switch(block.type) {
            case "heading":
                return (<StrapiBlockHeading data={block.children} level={block.level} />);
            case "paragraph":
                return (<StrapiBlockParagraph 
                    class={theme?.paragraph} 
                    data={block.children} 
                />);
            case "quote":
                return (<StrapiBlockParagraph 
                    class={theme?.quote} 
                    data={block.children} 
                />);
            case "list":
                return (<StrapiBlockList class={theme?.list} data={block.children} format={block.format} />);
            case "code":
                return (<StrapiBlockCode class={theme?.code} data={block.children} language={block.language} />);
            case "image":
                return (<StrapiBlockImage class={theme?.image} data={block.image} format={block.format} children={block.children} />);
            default:
                return '';
        }
    })
    }
</div>