---
import StrapiBlockHeading from './blocks/StrapiBlockHeading.astro';
import StrapiBlockList from './blocks/StrapiBlockList.astro';
import StrapiBlockParagraph from './blocks/StrapiBlockParagraph.astro';
import StrapiBlockCode from './blocks/StrapiBlockCode.astro';
import StrapiBlockImage from './blocks/StrapiBlockImage.astro';

import { StrapiBlockThemeDefault, buildThemeObject, renderPropertyClasses } from '../lib/theme';
import type { StrapiBlockField, StrapiBlock, StrapiBlockTheme, StrapiBlockUserTheme } from '../types';

type Props = {
    class?: string;
    theme?: StrapiBlockUserTheme;
    data: StrapiBlockField;
}

const { data, class: classes, theme } = Astro.props;

const themeObject: StrapiBlockTheme = theme ? buildThemeObject(theme, StrapiBlockThemeDefault) : StrapiBlockThemeDefault;


---

<div class={classes}>
    { data.map((block: StrapiBlock) => {
        switch(block.type) {
            case "heading":
                return (<StrapiBlockHeading class={renderPropertyClasses(themeObject, 'heading')} data={block.children} level={block.level} />);
            case "paragraph":
                return (<StrapiBlockParagraph 
                    class={renderPropertyClasses(themeObject, 'paragraph')} 
                    data={block.children} 
                />);
            case "quote":
                return (<StrapiBlockParagraph 
                    class={renderPropertyClasses(themeObject, 'quote')} 
                    data={block.children} 
                />);
            case "list":
                return (<StrapiBlockList class={renderPropertyClasses(themeObject, 'list')} data={block.children} format={block.format} />);
            case "code":
                return (<StrapiBlockCode class={renderPropertyClasses(themeObject, 'code')} data={block.children} language={block.language} />);
            case "image":
                return (<StrapiBlockImage class={renderPropertyClasses(themeObject, 'image')} data={block.image} format={block.format} children={block.children} />);
            default:
                return '';
        }
    })
    }
</div>